<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>First Django App</title>
    <link rel="stylesheet" href="{% static "css/mystyle.css"%}"/>
    <script>
    function index1(){

      var xhttp = new XMLHttpRequest();
      xhttp.open("GET", "/index1", true);
      xhttp.send();
      xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          document.getElementById('text').innerHTML=this.responseText;}
        };
      }
    </script>

  </head>
  <body>
    <h1>OSRAM </h1>
    {{ insert_me }}
    <center>
    <b>
    <input type="button" value="Click to get Random City Name!" onclick="index1();">
    <b>
    <p id="text"></p>
    </center>
    <h2>This is the picture I Clicked!</h2>
    <img id="i1" src="{% static "images/pic.jpg" %}" alt="Oops! Something went wrong.">
  </body>
</html>
